.composition {
  display: grid;
  grid-template-columns: 100%;
  
  @include media-query(tablet-portrait) {
    display: block;
    height: 60em;
  }
  @include media-query(phone) {
    height: auto;
    margin-top: 7.5rem;
  }

  &__img {
    height: 100%;
    width: 100%;

    @include media-query(tablet-portrait) {
      &:first-child, &:last-child {
        display: none;
      }
    }
  }
}
