body {
  position: relative;
  color: var(--color-gray-dark-2);
  background-image: linear-gradient(
    to right bottom,
    var(--color-primary-dark),
    var(--color-primary-light)
  );
  background-size: cover;
  background-repeat: no-repeat;
}
