.content-footer {
  text-align: center;
  padding: 3rem;
  @include media-query(small-phone) {
    padding: 1.7rem;
  }

  &__text {
    font-size: 2rem;
    margin-bottom: 3rem;

    @include media-query(tablet-landscape) {
      font-size: 3rem;
    }
    @include media-query(phone) {
      font-size: 3.3rem;
      margin-bottom: 4rem;
    }
  }
}
